<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.obsqura.listeners.ReportListener"></listener>
			<listener class-name="com.obsqura.listeners.MyTransformer"></listener>
	</listeners>
  <test  name="Test">
    <classes>
      <class name="com.obsqura.tests.ExpenseRecordTest"/>
      <class name="com.obsqura.tests.LoginTest"/>
      <class name="com.obsqura.tests.CreateDeleteExpenseTest"/>
      <class name="com.obsqura.tests.CreateDeliveryBoyTest"/>
      <class name="com.obsqura.tests.CreateNewsTest"/>
      <class name="com.obsqura.tests.AdminTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->